
<div style="margin-left: 20%; margin-top:2em; width:50%;">
<mat-card>
    <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <mat-form-field>
            <input matInput name="email" [(ngModel)]="email" type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
            <!-- <input matInput name="email" [(ngModel)]="email" type="email"  #emailInput="ngModel" required email> -->
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <button mat-raised-button name="login" color="accent" type="submit" >Login</button>
        <br>
        <br>
        <button mat-raised-button color="accent" name="sent" (click)="retrivePassword()" >Sent</button> <span style="margin-left:5em;"></span>
        <a>Forgot password?</a>
    </form>
</mat-card>

</div>


