<p>*** activities page ***</p>

<p>10. Sports activities and Parties
A student can use the website to find out the sports activities and parties scheduled. The student can enter a time
period, for example, September 1 2012 to December 31 2012. The website can list all the scheduled activities during this
period. The student can select the activities that he/she wants to attend. And all the activities chosen by the student
should be displayed by month.
</p>

<div>
    <form (submit)="addPosts(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input 
            matInput
            type="date"
            name="date"
            ngModel>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input 
            matInput 
            type="text" 
            name="content" 
            ngModel>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input 
            matInput 
            type="text" 
            name="whos" 
            ngModel>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input 
            matInput 
            type="text" 
            name="ID" 
            ngModel>
        </mat-form-field>
        <br>
        <button
        mat-raised-button
        color="accent"
        type="submit">
        Add
        </button>
    </form>
</div>
<hr>
