<div style="margin-left: 10%; margin-top:2em; width:80%;">


<div>
    <mat-form-field>
        <a>Start Date:</a>
        <input matInput type="date" [(ngModel)]="sdate" ></mat-form-field><span style="margin-left: 20px;"></span>
        <mat-form-field>
            <a>End Date:</a>
            <input matInput type="date" [(ngModel)]="edate" ></mat-form-field>
</div>
<button mat-raised-button color="accent" (click)=searchActivities()> Search </button>
<br>
<br>
<h1 style="font-size: 20px">Search Resault:</h1>
<hr>
<table class="table">
    <thead>
        <tr>
            <th><span style="margin-left: 20px; font-size: 20px"></span>Date </th>
            <th><span style="margin-left: 20px; font-size: 20px"></span>Event Info</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of showdate; let i of showinfo; let id of showid">
            <td>{{ e.date }}</td>
            <td><span style="margin-left: 20px"></span>{{ i.info }}</td>
            <span style="margin-left:30px"></span>
            <td><span style="margin-left: 20px"></span>{{ id.id }}</td>
            <mat-checkbox [(ngModel)]="checked">Join</mat-checkbox>
        </tr>
    </tbody>
</table>

<br>
<br>

<hr style="margin-top:3em">

<h1 style="font-size: 20px">this area is for create database</h1>
<form (submit)="createActivity(createForm)" #createForm="ngForm">
    <mat-form-field>
        <a>Date:</a>
        <input matInput type="date" name="date" ngModel></mat-form-field>
    <span style="margin-left: 20px"></span>
    <mat-form-field>
        <a>Info:</a>
        <input matInput type="text" name="info" ngModel></mat-form-field>
    <span style="margin-left: 20px"></span>
    <mat-form-field>
        <a>activity id:</a>
        <input matInput type="text" name="id" ngModel></mat-form-field>
    <br>
    <button mat-raised-button color="accent" type="submit">Save</button>
    <br>
</form>

</div>