<mat-toolbar color="primary">
    <span>
        <a routerLink="/">WebProject</a>
    </span>
    <span class="spacer"></span>
    <ul>
     
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/search" routerLinkActive="mat-accent">Search People</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/roommate" routerLinkActive="mat-accent">Roommate</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/election" routerLinkActive="mat-accent">Election</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/activities" routerLinkActive="mat-accent">Activities</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/textbook" routerLinkActive="mat-accent">Textbook</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/meal" routerLinkActive="mat-accent">Meal Plan</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/bus" routerLinkActive="mat-accent">Bus</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/account" routerLinkActive="mat-accent">Account</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/loginacc" routerLinkActive="mat-pink">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/register" routerLinkActive="mat-accent">Signup</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()">Logout</button>
        </li>
    </ul>
</mat-toolbar>