<!-- <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>

<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Course Description" formControlName="description">
    </mat-form-field>
</mat-dialog-content> -->


<!-- <div class="content">
    <div class="title">
        <h1>Payment:</h1>
    </div>

    <div class="paysection">

    </div>
</div> -->

<!-- 
<div *ngIf="select" style="margin-left: 30px">
    <mat-form-field>
        <a>Name on the card:</a>
        <input matInput type="text" [(ngModel)]="nameOnCard" required>
    </mat-form-field>
    <span style="margin-left: 20px"></span>
    <mat-form-field>
        <a>Phone number:</a>
        <input matInput type="text" [(ngModel)]="phone" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <a>Card number:</a>
        <input matInput type="text" [(ngModel)]="cardNum" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <a>Experation date(mm/yyyy):</a>
        <input matInput type="text" [(ngModel)]="exp" required>
    </mat-form-field>
    <span style="margin-left: 20px"></span>
    <mat-form-field>
        <a>CVV:</a>
        <input matInput type="text" [(ngModel)]="cvv" required>
    </mat-form-field>
    <br>
    <a>Billing Info:</a>
    <br>
    <mat-form-field>
        <a>Name:</a>
        <input matInput type="text" [(ngModel)]="billingName" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <a>Address:</a>
        <input matInput type="text" [(ngModel)]="address" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <a>City:</a>
        <input matInput type="text" [(ngModel)]="city" required>
    </mat-form-field>
    <span style="margin-left: 20px"></span>
    <mat-form-field>
        <a>State:</a>
        <input matInput type="text" [(ngModel)]="state" required>
    </mat-form-field>
    <span style="margin-left: 20px"></span>
    <mat-form-field>
        <a>Zipcode:</a>
        <input matInput type="text" [(ngModel)]="zipcode" required>
    </mat-form-field>
    <br>

   
    <button mat-raised-button color="accent" type="submit" style="margin-left: 30px; margin-top: 1em"
        [disabled]="!select" (click)="payBook()">Pay</button>

</div> -->