<p>*** Login ***</p>

<div >

<div>
<p>If you have registed:</p>
<a>Username :</a>
<input type="text" [(ngModel)]="username" name="username">
<br>
<a>Passward :</a>
<input type="text" [(ngModel)]="password" name="password">
<br>
<button (click)="login()">Login</button>
<button (click)="login()">Forgot Password</button>
</div>

<div class="forgot">
    <p>*** retrive password ***</p>
    <p>4. User name and password retrieve
    If a student forgets his/her name, retrieve the user name and password and send them to his/her registered email. Also
    provide an option to ask him/her to change his/her password.
</p>

</div>

<div>
    <p>*** register ***</p>
    <p>If you don't have an account, please register:</p>
<a>First Name :</a>
<input type="text" [(ngModel)]="firstName" name="firstName">
<br>
<a>Last Name :</a>
<input type="text" [(ngModel)]="lastName" name="lastName">
<br>
<a>Address :</a>
<input type="text" [(ngModel)]="address" name="address">
<br>
<a>City :</a>
<input type="text" [(ngModel)]="city" name="city">
<a>State :</a>
<input type="text" [(ngModel)]="state" name="state">
<a>Zip Code :</a>
<input type="text" [(ngModel)]="zip" name="zip">
<br>
<a>Email:</a>
<input type="text" [(ngModel)]="email" name="email">
<br>
<br>
<a>Login Name :</a>
<input type="text" [(ngModel)]="loginName" name="loginName">
<br>
<a>Password:</a>
<input type="text" [(ngModel)]="regPass" name="regPass">
<br>
<a>Confirm Password :</a>
<input type="text" [(ngModel)]="conRegPass" name="conRegPass">
<br>

<button (click)="register()">Register</button>
</div>

</div>






