<p>*** find a roommates ***</p>

<p>The website can help students to find roommates. A student can enter: date to move in, male/female, approximate price,
etc. The system can search the database and find the closest match for that student.
</p>

    <a>Move in Date:</a>
    <input type="text" [(ngModel)]="moveInDate" name="moveInDate">
    <br>
    <a>Male/Female:</a>
    <input type="text" [(ngModel)]="gender" name="gender">
    <br>
    <a>Price Range:</a>
    <input type="text" [(ngModel)]="rangemin" name="rangemin">
    <input type="text" [(ngModel)]="rangemax" [min]="reangemin" name="rangemax">
    <br>

    <button>Search</button>

    <p>Search Result:</p>



    <hr>
    <p>this section is for create data</p>

        <a>Move in Date:</a>
        <input type="text" [(ngModel)]="tempMoveInDate" name="tempMoveInDate">
        <br>
        <a>Male/Female:</a>
        <input type="text" [(ngModel)]="tempGender" name="tempGender">
        <br>
        <a>Price Range:</a>
        <input type="text" [(ngModel)]="tempRangeMin" name="tempRangemin">
        <input type="text" [(ngModel)]="tempRangeMin" name="tempRangemax">
        <br>
        
        <button>Add to the database</button>