
<ul>
  <!-- <li><a routerLink=""></a>Home</li> -->
  <li><a routerLink="login">
    <span class="mat-button-wrapper">
      <span>Login/Register</span>
    </span>
  </a></li>
  <li><a routerLink="search">
    <span class="mat-button-wrapper">
      <span>Search People</span>
    </span>
  </a></li>
  <li><a routerLink="account">
      <span class="mat-button-wrapper">
        <span>Account</span>
      </span>
    </a></li>
    <li><a routerLink="textbook">
        <span class="mat-button-wrapper">
          <span>Textbook</span>
        </span>
      </a></li>
      <li><a routerLink="meal">
          <span class="mat-button-wrapper">
            <span>Meal Plan</span>
          </span>
        </a></li>
        <li><a routerLink="activities">
            <span class="mat-button-wrapper">
              <span>Activities</span>
            </span>
          </a></li>
          <li><a routerLink="bus">
              <span class="mat-button-wrapper">
                <span>Bus Ticket</span>
              </span>
            </a></li>
      <li><a routerLink="roommate">
          <span class="mat-button-wrapper">
            <span>Find a Roommate</span>
          </span>
        </a></li>
</ul>

<!-- <app-login></app-login> -->
<!-- <app-search></app-search> -->
<router-outlet></router-outlet>


