<p>*** bus tickets purchase ***</p>

<p>A student can buy bus tickets online by credit card. There are three zones with $2, $4, and$6, respectively. The student
can choose multiple zones and buy multiple tickets. The student can also buy bus cards which cost $40 each.
</p>

<mat-checkbox>$2 ticket for Zone1</mat-checkbox>
<a>  Quantity: </a>
<input type="number">
<br>
<!-- <input type="number"> -->
<mat-checkbox>$4 ticket for Zone1</mat-checkbox>
<a> Quantity: </a>
<input type="number">
<br>
<mat-checkbox>$6 ticket for Zone1</mat-checkbox>
<a> Quantity: </a>
<input type="number">
<br>
<mat-checkbox>$40 bus card </mat-checkbox>
<a> Quantity: </a>
<input type="number">
<br>