<p>BUY RULES: A student can purchase textbooks online. After finding the textbooks, the student can purchase textbooks
    online by
    credit cards. The Student can also see all the purchases he/she has made so far. If the total amount exceeds $200,
    he/she can get a discount of 10% in the next purchase.
</p>

<div>

    <P>this area is for storing data(for test)</P>
    <form (submit)="searchBook(searchForm)" #searchForm="ngForm">
        <mat-form-field>
            <a>ISBM:</a>
            <input matInput type="text" name="isbn" ngModel></mat-form-field>
        <span style="margin-left: 20px"></span>
        <mat-form-field>
            <a>Author:</a>
            <input matInput type="text" name="author" ngModel></mat-form-field>
        <span style="margin-left: 20px"></span>
        <mat-form-field>
            <a>Title:</a>
            <input matInput type="text" name="title" ngModel></mat-form-field>
        <span style="margin-left: 20px"></span>
        <button mat-raised-button color="accent" type="submit">Search</button>
        <br>
    </form>
    <br>

    <h1>Search Resault:</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th><span style="margin-left: 20px"></span>Author</th>
                <th><span style="margin-left: 20px"></span>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{ book.title }}</td>
                <td><span style="margin-left: 20px"></span>{{ book.author }}</td>
                <td><span style="margin-left: 20px"></span>{{ book.price }}</td>
                <!-- <input  matInput type="number" [(ngModel)]="quantity" > -->
                <button mat-raised-button color="accent" (click)="openDialog()" style="margin-left: 20px">Buy</button>
            </tr>
        </tbody>
    </table>



    
    <br>

    <hr style="margin-top: 10em"> 
    <P>this area is for creating data(for test)</P>
    <form (submit)="saveBook(postForm)" #postForm="ngForm">
        <mat-form-field>
        <a>ISBM:</a>
        <input  matInput type="text"  name="isbn" ngModel></mat-form-field>
        <span style="margin-left: 20px"></span>
        <mat-form-field>
        <a>Author:</a>
        <input matInput type="text"  name="author" ngModel></mat-form-field>
         <span style="margin-left: 20px"></span>
        <mat-form-field>
        <a>Title:</a>
        <input matInput type="text"  name="title" ngModel></mat-form-field>
        <span style="margin-left: 20px"></span>
        <mat-form-field>
        <a>Price:</a>
        <input matInput type="number"  name="price" ngModel></mat-form-field>
        <br>
        <button mat-raised-button color="accent" type="submit">create</button>
    </form>
    <br>



  
</div>
