<div style="margin-left: 10%; margin-top:2em; width:80%;">

<mat-radio-group class="example-radio-group" [(ngModel)]="selectedChoice" (click)="select = true"  >
    <mat-radio-button class="example-radio-button" *ngFor="let choice of choices" [value]="choice" style="margin-left: 30px">
        {{choice}}
    </mat-radio-button>
</mat-radio-group>

<br>
    <div *ngIf="select" style="margin-left: 30px" >
        <mat-form-field>
            <a>Name on the card:</a>
            <input matInput type="text" [(ngModel)]="nameOnCard" required>
        </mat-form-field>
        <span style="margin-left: 20px"></span>
        <mat-form-field>
            <a>Phone number:</a>
            <input matInput type="text" [(ngModel)]="phone" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <a>Card number:</a>
            <input matInput type="text" [(ngModel)]="cardNum" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <a>Experation date(mm/yyyy):</a>
            <input matInput type="text" [(ngModel)]="exp" required>
        </mat-form-field>
        <span style="margin-left: 20px"></span>
        <mat-form-field>
            <a>CVV:</a>
            <input matInput type="text" [(ngModel)]="cvv" required>
        </mat-form-field>
        <br>
        <a>Billing Info:</a>
        <br>
        <mat-form-field>
            <a>Name:</a>
            <input matInput type="text" [(ngModel)]="billingName" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <a>Address:</a>
            <input matInput type="text" [(ngModel)]="address" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <a>City:</a>
            <input matInput type="text" [(ngModel)]="city" required>
        </mat-form-field>
        <span style="margin-left: 20px"></span>
        <mat-form-field>
            <a>State:</a>
            <input matInput type="text" [(ngModel)]="state" required>
        </mat-form-field>
        <span style="margin-left: 20px"></span>
        <mat-form-field>
            <a>Zipcode:</a>
            <input matInput type="text" [(ngModel)]="zipcode" required>
        </mat-form-field>
        <br>
<br>

    <button mat-raised-button color="accent" type="submit" style="margin-left: 30px; margin-top: 1em" [disabled]="!select"
    (click)="payBus()">Pay</button><a *ngIf=processed style="margin-left:20px">Payment Processed!</a>
    </div>
    </div>