<div style="margin-left: 10%; margin-top:2em; width:80%;">


     <form (submit)="searchBook(searchForm)" #searchForm="ngForm">
        <mat-form-field>
            <a>Department:</a>
            <input matInput type="text" name="department" ngModel></mat-form-field>
        <span style="margin-left: 20px"></span>
        <mat-form-field>
            <a>First Name:</a>
            <input matInput type="text" name="firstname" ngModel></mat-form-field>
        <span style="margin-left: 20px"></span>
        <mat-form-field>
            <a>Last Name:</a>
            <input matInput type="text" name="lastname" ngModel></mat-form-field>
        <span style="margin-left: 20px"></span>

        <button mat-raised-button color="accent" type="submit">Search</button>
        <br>
    </form>
    
    <br>
    <h1 style="font-size: 20px">Search Resault:</h1>

        <table class="table">
            <thead>
                <tr>
                    <th><span style="margin-left: 20px"></span>First Name</th>
                    <th><span style="margin-left: 20px"></span>Last Name</th>
                    <th><span style="margin-left: 20px"></span>Department</th>
                    <th><span style="margin-left: 20px"></span>Student/Faculty</th>
                    <th><span style="margin-left: 20px"></span>Email</th>
                    <th><span style="margin-left: 20px"></span>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of person">
                    <td>{{ p.firstname }}</td>
                    <td><span style="margin-left: 20px"></span>{{ p.lastname }}</td>
                    <td><span style="margin-left: 20px"></span>{{ p.department }}</td>
                    <td><span style="margin-left: 20px"></span>{{ p.status }}</td>
                    <td><span style="margin-left: 20px"></span>{{ p.email }}</td>
                    <td><span style="margin-left: 20px"></span>{{ p.phone }}</td>
                </tr>
            </tbody>
        </table>

<div>

<hr>
<h1 style="font-size: 20px">this area is for create database</h1>

<form (submit)="createPeople(createForm)" #createForm="ngForm">
    
    <mat-form-field>
        <a>First Name:</a>
        <input matInput type="text" name="firstname" ngModel></mat-form-field>
    <span style="margin-left: 20px"></span>
    <mat-form-field>
        <a>Last Name:</a>
        <input matInput type="text" name="lastname" ngModel></mat-form-field>
    <span style="margin-left: 20px"></span>
    <mat-form-field>
        <a>Department:</a>
        <input matInput type="text" name="department" ngModel></mat-form-field>
    <span style="margin-left: 20px"></span>
    <mat-form-field>
        <a>Status:</a>
        <input matInput type="text" name="status" ngModel></mat-form-field>
    <span style="margin-left: 20px"></span>
    <mat-form-field>
        <a>Email:</a>
        <input matInput type="text" name="email" ngModel></mat-form-field>
    <span style="margin-left: 20px"></span>
    <mat-form-field>
        <a>Phone:</a>
        <input matInput type="text" name="phone" ngModel></mat-form-field>
    <span style="margin-left: 20px"></span>

    <button mat-raised-button color="accent" type="submit">Save</button>
    <br>
</form>

</div>
</div>