
<!-- <form (submit)="SaveUpdate(accountForm)" #accountForm="ngForm"> -->
    <div>
    <mat-form-field>
        <a>First Name:</a>
        <input matInput type="text"  [(ngModel)]="firstName" placeholder="" >
    </mat-form-field>
    <span style="margin-left: 20px"></span>
    <mat-form-field>
        <a>Last Name:</a>
        <input matInput type="text"  [(ngModel)]="lastName" >
    </mat-form-field>
   <br>
    <mat-form-field>
        <a>Address:</a>
        <input matInput type="text"  [(ngModel)]="address" >
    </mat-form-field>
<br>
    <mat-form-field>
        <a>City:</a>
        <input matInput type="text"  [(ngModel)]="city" >
    </mat-form-field>
    <span style="margin-left: 20px"></span>
    <mat-form-field>
        <a>State:</a>
        <input matInput type="text"  [(ngModel)]="state" >
    </mat-form-field>
<span style="margin-left: 20px"></span>
    <mat-form-field>
        <a>Zipcode:</a>
        <input matInput type="text"  [(ngModel)]="zipcode" >
    </mat-form-field>
    <br>
    <mat-form-field>
        <a>email:</a>
        <input matInput type="text"  [(ngModel)]="email" >
    </mat-form-field>
    <br>
    <mat-form-field>
        <a>LoginName:</a>
        <input matInput type="text"  [(ngModel)]="loginName" ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
        <a>Password:</a>
        <input matInput type="text"  [(ngModel)]="password" ngModel>
    </mat-form-field>
    <span style="margin-left: 20px"></span>
    <mat-form-field>
        <a>Confirm Password:</a>
        <input matInput type="text"  [(ngModel)]="password2" ngModel>
    </mat-form-field>
    
    <button mat-raised-button color="accent" (click)="SaveUpdate()">Update</button>
</div>

