<p>*** Account page ***</p>

<p>3. Update information
After a student logs in, he/she can update the above register information.
</p>

<div>
  
    <a>First Name :</a>
    <input type="text" [(ngModel)]="firstName" name="firstName">
    <br>
    <a>Last Name :</a>
    <input type="text" [(ngModel)]="lastName" name="lastName">
    <br>
    <a>Address :</a>
    <input type="text" [(ngModel)]="address" name="address">
    <br>
    <a>City :</a>
    <input type="text" [(ngModel)]="city" name="city">
    <a>State :</a>
    <input type="text" [(ngModel)]="state" name="state">
    <a>Zip Code :</a>
    <input type="text" [(ngModel)]="zip" name="zip">
    <br>
    <a>Email:</a>
    <input type="text" [(ngModel)]="email" name="email">
    <br>
    <br>
    <a>Login Name :</a>
    <input type="text" [(ngModel)]="loginName" name="loginName">
    <br>
    <a>Password:</a>
    <input type="text" [(ngModel)]="regPass" name="regPass">
    <br>
    <a>Confirm Password :</a>
    <input type="text" [(ngModel)]="conRegPass" name="conRegPass">
    <br>

    <button (click)="register()">Update</button>
</div>

