
<form (submit)="SaveUpdate(postForm)" #postForm="ngForm">
    <mat-form-field>
        <a>First Name:</a>
        <input matInput type="text" formControlName="firstName" ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
        <a>Last Name:</a>
        <input matInput type="text" formControlName="lastName" ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
        <a>Address:</a>
        <input matInput type="text" formControlName="address" ngModel>
    </mat-form-field>

    <mat-form-field>
        <a>City:</a>
        <input matInput type="text" formControlName="city" ngModel>
    </mat-form-field>

    <mat-form-field>
        <a>State:</a>
        <input matInput type="text" formControlName="state" ngModel>
    </mat-form-field>

    <mat-form-field>
        <a>Zipcode:</a>
        <input matInput type="text" formControlName="zipcode" ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
        <a>email:</a>
        <input matInput type="text" formControlName="email" ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
        <a>PoginName:</a>
        <input matInput type="text" formControlName="loginName" ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
        <a>Password:</a>
        <input matInput type="text" formControlName="password" ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
        <a>Confirm Password:</a>
        <input matInput type="text" formControlName="cofPassword" ngModel>
    </mat-form-field>
    
    <button mat-raised-button color="accent" type="submit">Update</button>
</form>

